---
// Interactive BG
---

<div class="absolute top-0 left-0 h-full max-h-svh w-screen">
  <div
    id="eco-capsule-bg"
    class="absolute top-1/2 left-1/2 -translate-1/2 w-0 max-w-5xl max-h-[70vh] h-0 rounded-full -z-20"
  >
  </div>
</div>
