---
import Map from "./Map";
---

<section
  id="company-coverage-area"
  class="min-h-screen flex flex-col justify-center items-center relative gap-2 md:gap-6"
>
  <h1
    class="text-4xl lg:text-6xl text-center font-black text-gray-900 leading-[1.2] font-poppins"
    id="company-coverage-area-title"
    data-aos="fade-up"
  >
    Our Coverage Area
  </h1>
  <div
    class="rounded-full bg-dark text-white font-extrabold uppercase px-6 md:px-10 lg:min-w-[250px] py-3 md:py-4 tracking-widest mt-5 lg:mt-10 text-base md:text-xl lg:text-3xl text-center"
    id="company-coverage-area-location"
    data-aos="fade-up"
  >
    Bangladesh
  </div>

  <Map client:only="react" />
</section>
