---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/company/Hero.astro";
import HowWeWork from "../components/company/HowWeWork.astro";
import Ecology from "../components/company/Ecology.astro";
import CoverageArea from "../components/company/CoverageArea.astro";
---

<Layout>
  <section class="relative h-fit max-w-[min(80rem,95vw)] mx-auto">
    <HeroSection />
    <HowWeWork />
    <Ecology />
    <CoverageArea/>
  </section>
</Layout>
