---
import Connect from "../components/contact/Connect.astro";
import FAQ from "../components/contact/FAQ.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="relative h-fit max-w-[min(80rem,95vw)] mx-auto">
    <Connect />
    <FAQ />
  </section>
</Layout>
