---
import GreenCupStory from "../components/going-green/GreenCupStory.astro";
import GreenHero from "../components/going-green/GreenHero.astro";
import ThreeRs from "../components/going-green/ThreeRs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="relative h-fit max-w-[min(80rem,95vw)] mx-auto">
    <GreenHero />
    <!-- <ThreeRs />
    <GreenCupStory /> -->
  </section>
</Layout>
