---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/home/Hero.astro";
import WhoWeAre from "../components/home/WhoWeAre.astro";
import HeroCup from "../components/home/HeroCup";
import FeaturedProducts from "../components/home/FeaturedProducts/index.astro";
---

<Layout>
  <section id="paper-cup-area" class="relative max-w-[min(80rem,95vw)] mx-auto">
    <!-- might need a max-height -->
    <HeroSection />

    <HeroCup client:only="react" />

    <!-- <PaperCup /> -->
    <WhoWeAre />
  </section>
  <FeaturedProducts />
</Layout>
